<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="static\css\styles.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <title>Emotion</title>
</head>

<body>
  <!-- navbar -->



  <section id="Home">


    <div class="container-fluid">
      <div class="navbar navbar-expand-lg navbar-light nav-start sticky-top" style="padding-top: 40px;">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria- controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-right: 50px;">

          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about" style="color: #1d184e;"><h3>About</h3></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#model" style="color:#1d184e;"><h3>Simulation</h3></a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="#dev" style="color: #1d184e;"><h3>Developers</h3></a>
            </li> -->

          </ul>

        </div>

      </div>

    </div>

    <!-- heading -->

    <div class="heading">
      <div class="rectangle">
        <h1>CalmSpace</h1>
        <!-- <br> -->
        <h4 style="padding-left:200px;color:#1D184E;padding-top:510px;">An end to end sentiment analysis programme</h4>

      </div>

    </div>

  </section>
  <section id="about" style="margin-top:10px">
    <!-- content -->

    <div class="home">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Summary</h5>
              <p class="card-text">CalmSpace is an end to end sentiment analysis platform where the user can record or upload the recorded files of their emotion and the deep learning model will learn through algorithm like RNN Model Architecture, and will predict the emotion
                of the voice . The sentiment analysis will be shown through various graph plot in much understandable way. d scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desk. d scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desk</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">RNNs</h5>
              <p class="card-text">Recurrent neural networks or RNNs for short are a variant of the conventional feedforward artificial neural networks that can deal with When it comes to sequential or time series data, traditional feedforward networks cannot be used for
                learning and prediction. Ordinary feed forward neural networks are only meant for data points, which are independent of each other. However, if we have data in a sequence such that one data point depends upon the previous data point, we
                need to modify the neural network to incorporate the dependencies between these data points. RNNs have the concept of ‘memory’ that helps them store the states or information of previous inputs to generate the next output of the sequence.
                There are long-term dependencies of RNN in which the RNN cannot predict the word stored in the long-term memory but can give more accurate predictions from the recent information.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">LSTM</h5>
            <p class="card-text">Long Short-Term Memory (LSTM) networks are a type of recurrent neural network capable of learning order dependence in sequence prediction problems.LSTM can by default retain the information for a long period of time.LSTM recurrent unit is
              much more complex than that of RNN, which improves learning but requires more computational resources.The basic workflow of a Long Short Term Memory Network is similar to the workflow of a Recurrent Neural Network with the only difference
              being that the Internal Cell State is also passed forward along with the Hidden State.It is used for processing, predicting, and classifying on the basis of time-series data.LSTM deals with algorithms that try to mimic the human brain the
              way it operates and to uncover the underlying relationships in the given sequential data.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">NLP</h5>
            <p class="card-text">Natural language processing (NLP) refers to the branch of computer science—and more specifically, the branch of artificial intelligence or AI—concerned with giving computers the ability to understand text and spoken words in much the same
              way human beings can. NLP combines computational linguistics—rule-based modeling of human language—with statistical, machine learning, and deep learning models. Together, these technologies enable computers to process human language in the
              form of text or voice data and to ‘understand’ its full meaning, complete with the speaker or writer’s intent and sentiment.NLP drives computer programs that translate text from one language to another, respond to spoken commands, and summarize
              large volumes of text rapidly—even in real time. </p>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- slideshow -->


    <!-- <div id="carouselExampleIndicators" class="carousel slide slidesizing" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{{ url_for('static', filename = 'Images/0.PNG')}}" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{ url_for('static', filename = 'Images/2.PNG')}}" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{ url_for('static', filename = 'Images/3.PNG')}}" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div> -->

  </section>

  <!-- form -->

  <section id="model" class="model-head" style="background-color:#dbd9eb">
    <h1 style="margin-top:20px ;font-size:5rem;padding-left:600px; padding-top:150px">Simulation</h1>
  </section>
  <section style="margin-top:400px">
    <div class="mb-3">

<!-- <div>

    <div class="container">
    	<h4>VOICE RECORDING DEMO FTW, BRO</h4>
    	<audio id="recorder" muted hidden></audio>
    	<div>
        <button id = "start" type="button" class="btn btn-outline-danger" onclick="recordAudio()" style="margin-left:47%; margin-top:0px; width:100px">Record</button>
        <button id = "stop"type="button" class="btn btn-outline-dark" style="margin-top:15px; width:150px; margin-left:45%">Stop Recording</button>
    	</div>
    	<audio id="player" controls></audio>
    </div>


  </div> -->

      <form class="model" action="prediction" method="post" enctype="multipart/form-data">
        <input class="form-control choose-file" name="audio" type="file" id="formFile">
        <br>
        <input class="btn btn-outline-primary btn-md simulate-btn" type="submit" name="btn" value="Simulate">
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages%}
            <p style="margin-left: 730px; margin-top:80px; color:#1D184E; font-size:1.75rem">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <img class = "plots" src="{{ url_for('static', filename = 'Images/outputs/plot_bar.png')}}" alt="plot_bar" height="600px" width="1000px" style="margin-top:50px; margin-left:22%">
      <img class = "plots" src="{{ url_for('static', filename = 'Images/outputs/plot_pie.png')}}" alt="plot_pie" height="600px" width="1000px" style="margin-top:50px; margin-left:22%">


  </section>

  <!-- <section id="dev" style="background-color:#dbd9eb ;margin-top:100px;padding-top:50px;padding-bottom:50px">
    <div class="dev-head">
      <h1 style="margin-top:20px ;font-size:5rem;padding-left:550px">Developers</h1>
    </div>
    <div class="container text-center dev-cards" style="margin-top:150px">
      <div class="row row-cols-3">
        <div class="col">
          <div class="card" style="width: 25rem; margin-right:100px">
            <img src="{{ url_for('static', filename = 'Images/niyar.jpeg')}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Niyar R Barman</h5>
              <p class="card-text">B.Tech, Electronics and Communication Engineering
                <br>National Institute of Technology, Silchar</p>
              <a href="https://www.linkedin.com/in/niyar-r-barman-264337242/">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="Krish Sharma LinkedIn" style="width:35px;height:35px;">
              </a>
              <a href="https://github.com/niyarrbarman">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Krish Sharma GitHub" style="width:35px;height:35px; margin-left: 10px">
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 25rem;">
            <img src="{{ url_for('static', filename = 'Images/krish.jpeg')}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Krish Sharma</h5>
              <p class="card-text">B.Tech, Electronics and Instrumentation Engineering
                <br>National Institute of Technology, Silchar</p>
              <a href="https://www.linkedin.com/in/krish-sharma-1074b6224/">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="Krish Sharma LinkedIn" style="width:35px;height:35px;">
              </a>
              <a href="https://github.com/Krish2002">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Krish Sharma GitHub" style="width:35px;height:35px; margin-left: 10px">
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 25rem;">
            <img src="{{ url_for('static', filename = 'Images/priyanshu.jpeg')}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Priyanshu Jha</h5>
              <p class="card-text">B.Tech, Electronics and Communication Engineering
                <br>National Institute of Technology, Silchar</p>
              <a href="https://www.linkedin.com/in/priyanshu-jha-797182240/">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="Priyanshu Jha LinkedIn" style="width:35px;height:35px;">
              </a>
              <a href="https://github.com/Priy6anshu">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Priyanshu Jha GitHub" style="width:35px;height:35px; margin-left: 10px">
              </a>

            </div>
          </div>
        </div>
      </div>
  </section> -->

  <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js" crossorigin="anonymous"></script>
  <script type="importmap">
    { "imports": { "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js", "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.esm.min.js" } }
  </script>
  <script type="module">
    import * as bootstrap from 'bootstrap' new bootstrap.Popover(document.getElementById('popoverButton'))
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="static\js\main.js">

  </script>

  </script>
</body>

</html>
